<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="knight" class="com.lzj.spring.pojo.BraveKnight">
        <constructor-arg ref="quest"></constructor-arg>
    </bean>
    <bean id="quest" class="com.lzj.spring.pojo.KillDragonQuest"></bean>

    <bean id="minstrel" class="com.lzj.spring.aop.Minstrel">
    </bean>
    <!--配置方法切面-->
    <aop:config>
        <aop:aspect ref="minstrel">
            <!--定义切点-->
            <aop:pointcut id="embark" expression="execution(* *.embrakQuest(..))"></aop:pointcut>
            <!--声明前置通知-->
            <aop:before method="singBeforeQuest" pointcut-ref="embark"></aop:before>
            <!--声明后置通知-->
            <aop:after method="singAfterQuest" pointcut-ref="embark"></aop:after>
        </aop:aspect>
    </aop:config>
</beans>